<div class="m-4" >
   <h1>
        Informações Rápidas de Paciêntes
    </h1>

    <input type="text">
</div>

<div>
    <ul class="navbar-nav cardPacientes m-4">
        <li>
            <div class="d-flex flex-column align-items-center p-4">
                <img class="mb-4" src="../../../assets/img/perfil-de-usuario.png" width="92" height="92" alt="">
                <h2>Nome</h2>
                <p>Idade</p>
                <h3>Telefone</h3>
                <h3>Plano</h3>
                <p>Ver mais</p>
            </div>
        </li>
    </ul>
</div>