.mainContainer {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
}

.pequeno {
    width: 17%;
}

.medio {
    width: 30%;
}

.grande {
    width: 80%;
}

.custom {
    width: 50%;
}

.titulo {
    width: 100%;
}

.debug {
    background-color: red;
}