
<div class="mainContainer m-4">

    
    <form  class="d-flex flex-column p-4 " [formGroup]="formCadastroPaciente" (ngSubmit)="cadastroPaciente()">
        <div class="d-flex justify-content-between ">
            <h2>Identificação</h2>

            <div class="gap">
                <button type="button" class="btn btn-outline-secondary" [disabled]="desabilitaEdicao" (click)="editarPaciente()">
                    <div *ngIf="loaderEditar == true" class="spinner-border tamanho" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                    Editar
                </button>
                <button type="button" class="btn btn-outline-danger ms-2 me-2" [disabled]="desabilitaEdicao" (click)="removerPaciente()" >
                    <div *ngIf="loaderDeletar == true" class="spinner-border tamanho" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                    Deletar
                </button>
                <button type="submit" value="submit" class="btn btn-primary" [disabled]="formCadastroPaciente.invalid" >
                    <div *ngIf="loaderSalvar == true" class="spinner-border tamanho" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                    Salvar
                </button>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-between">

            <input class="form-control mb-2" type="text" formControlName="id" hidden>

            <div class="d-flex flex-column custom">
                <label class="form-label" for="nomeCompleto">Nome Completo*</label>
                <input class="form-control mb-2 " type="text" formControlName="nome" aria-describedby="validationNome" [ngClass]="formCadastroPaciente.controls['nome'].valid == false && formCadastroPaciente.controls['nome'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['nome'].valid == false && formCadastroPaciente.controls['nome'].value != ''" id="validationNome" class="invalid-feedback">
                    Digite o nome do Paciente. (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="genero">Gênero</label>
                <select class="form-select mb-1" formControlName="genero">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                </select>
            </div>

            <div class="d-flex flex-column pequeno">
                <label class="form-label" for="dataNascimento">Data de Nascimento*</label>
                <input class="form-control mb-2" type="date" formControlName="dataNascimento">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="cpf">CPF*</label>
                <input class="form-control mb-2" type="text" formControlName="cpf" aria-describedby="validationCPF" [ngClass]="formCadastroPaciente.controls['cpf'].valid == false && formCadastroPaciente.controls['cpf'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['cpf'].valid == false && formCadastroPaciente.controls['cpf'].value != ''" id="validationCPF" class="invalid-feedback">
                    Digite o CPF do paciente. Ex.: 123.456.789-10 (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="rg">RG*</label>
                <input class="form-control mb-2" type="text" formControlName="rg" aria-describedby="validationRG" [ngClass]="formCadastroPaciente.controls['rg'].valid == false && formCadastroPaciente.controls['rg'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['rg'].valid == false && formCadastroPaciente.controls['rg'].value != ''" id="validationRG" class="invalid-feedback">
                    Digite o RG do paciente. Ex.: 1.234.567 (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="estadoCivil">Estado Civil*</label>
                <select class="form-select mb-1" formControlName="estadoCivil">
                    <option value="masculino">Solteiro(a)</option>
                    <option value="feminino">Casado(a)</option>
                    <option value="feminino">Divorciado(a)</option>
                    <option value="feminino">Viúvo(a)</option>
                </select>

            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="telefone">Telefone*</label>
                <input class="form-control mb-2" type="text" formControlName="telefone" aria-describedby="validationTelefone" [ngClass]="formCadastroPaciente.controls['telefone'].valid == false && formCadastroPaciente.controls['telefone'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['telefone'].valid == false && formCadastroPaciente.controls['telefone'].value != ''" id="validationTelefone" class="invalid-feedback">
                    Digite o telefone do paciente. Ex.: (48) 1234-56789 (Campo Obrigatório)
                </div>

            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="email">E-mail*</label>
                <input class="form-control mb-2" type="email" formControlName="email" aria-describedby="validationEmail" [ngClass]="formCadastroPaciente.controls['email'].valid == false && formCadastroPaciente.controls['email'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['email'].valid == false && formCadastroPaciente.controls['email'].value != ''" id="validationEmail" class="invalid-feedback">
                    Digite o email do paciente. Ex.: exemplo@labmedical.com.br (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="naturalidade">Naturalidade*</label>
                <input class="form-control mb-2" type="text" formControlName="naturalidade" aria-describedby="validationNaturalidade" [ngClass]="formCadastroPaciente.controls['naturalidade'].valid == false && formCadastroPaciente.controls['naturalidade'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['naturalidade'].valid == false && formCadastroPaciente.controls['naturalidade'].value != ''" id="validationNaturalidade" class="invalid-feedback">
                    Digite a naturalidade do paciente. (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="contatoEmergencia">Contato de Emergência*</label>
                <input class="form-control mb-2" type="text" formControlName="contatoEmergencia" aria-describedby="validationContatoEmergencia" [ngClass]="formCadastroPaciente.controls['contatoEmergencia'].valid == false && formCadastroPaciente.controls['contatoEmergencia'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['contatoEmergencia'].valid == false && formCadastroPaciente.controls['contatoEmergencia'].value != ''" id="validationContatoEmergencia" class="invalid-feedback">
                    Digite o contato de emergência. Ex.: (48) 1234-56789. (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="listaAlergia">Lista de Alergias</label>
                <input class="form-control mb-2" type="text" formControlName="listaAlergia">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="listaCuidados">Lista de Cuidados Específicos</label>
                <input class="form-control mb-2" type="text" formControlName="listaCuidados">
            </div>


            <div class="titulo">
                <h2>Convênio</h2>
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="convenio">Convênio</label>
                <input class="form-control mb-2" type="text" formControlName="convenio">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="numeroCarteira">Número da Carteira</label>
                <input class="form-control mb-2" type="text" formControlName="numeroCarteira">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="validade">Validade</label>
                <input class="form-control mb-2" type="date" formControlName="validade">
            </div>
            
            <div class="titulo">
                <h2>Endereço</h2>
            </div>
            
            <div class="d-flex flex-column medio">
                <label class="form-label" for="cep">CEP*</label>
                <input class="form-control mb-2" type="number" formControlName="cep" (blur)="consultaCEP()" aria-describedby="validationCep" [ngClass]="formCadastroPaciente.controls['cep'].valid == false && formCadastroPaciente.controls['cep'].value != '' ? 'is-invalid' : ''">
                <div *ngIf="formCadastroPaciente.controls['cep'].valid == false && formCadastroPaciente.controls['cep'].value != ''" id="validationCep" class="invalid-feedback">
                    Digite CEP somente números. (Campo Obrigatório)
                </div>
            </div>

            <div class="d-flex flex-column custom">
                <label class="form-label" for="cidade">Cidade*</label>
                <input class="form-control mb-2" type="text" formControlName="cidade" [value]="cidade">
            </div>

            <div class="d-flex flex-column pequeno">
                <label class="form-label" for="estado">Estado*</label>
                <input class="form-control mb-2" type="text" formControlName="estado" [value]="estado">
            </div>

            <div class="d-flex flex-column grande">
                <label class="form-label" for="logradouro">Logradouro*</label>
                <input class="form-control mb-2" type="text" formControlName="logradouro" [value]="logradouro">

            </div>

            <div class="d-flex flex-column pequeno">
                <label class="form-label" for="numero">Número*</label>
                <input class="form-control mb-2" type="number" formControlName="numero">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="complemento">Complemento</label>
                <input class="form-control mb-2" type="text" formControlName="complemento">
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="bairro">Bairro*</label>
                <input class="form-control mb-2" type="text" formControlName="bairro" [value]="bairro">  
            </div>

            <div class="d-flex flex-column medio">
                <label class="form-label" for="pontoReferencia">Ponto de Referência</label>
                <input class="form-control mb-2" type="text" formControlName="pontoReferencia">  
            </div>
        </div>



    </form>
</div>