.debug {
    border: solid #1975A5;

}

.box {
    height: 64px;
    width: 64px;
}

.coluna {
    width: 64px;
}

.informacoes {
    width: 100%;
}

.cards {
    background-color: #D9D9D9;

}

img {
    height: 100px;
    width: 100px;
}

.scroll-container {
    width: 100%;
    height: 69vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }