.card {
    height: 160px;
    width: 343px;
    background-color: white
}

.cardNumero {
    font-size: 62px;
    padding: 0px;
    margin: 0px;
}

.categoria{
    font-size: 20px;
}

.cards {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
}