
<h1 class="mt-4 ms-3">Estatísticas do Sistema</h1>

<div class="d-flex d-flex justify-content-evenly mt-4">
    <ul class="navbar-nav cards">
        <li class="card d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center gap-4 mb-2">
                <img src="../../../assets/img/multiple-users-silhouette.png">
                <p class="cardNumero">{{ contadorPacientes }}</p>
            </div>
            <p class="text-center categoria m-0">Pacientes</p>
        </li>
    </ul>

    <ul class="navbar-nav cards">
        <li class="card d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center gap-4 mb-2">
                <img src="../../../assets/img/consulta-medica.png">
                <p class="cardNumero">{{ contadorConsultas }}</p>
            </div>
            <p class="text-center categoria m-0">Consultas</p>
        </li>
    </ul>

    <ul class="navbar-nav cards">
        <li class="card d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center gap-4 mb-2">
                <img src="../../../assets/img/exame-de-saude.png">
                <p class="cardNumero">{{ contadorExames }}</p>
            </div>
            <p class="text-center categoria m-0">Exames</p>
        </li>
    </ul>
</div>