nav {
    height: 100vh;
}


.texto {
    font-size: 16px;
}

.btn-size {
    height: 40px

}

.headerMenu {
    font-size: 38px;
}

.color {
    background: #1975A5;
    border-right: 2px solid rgba(25, 117, 165, 0.7);
}